.row no-gutters{
    margin-left: 0px;
    margin-right: 0px;
}

#nav {
    height: 64px;
    padding: 16px;    
}

.navbar {
    padding: 0px 0px; 
    height: 32px;
}

.nav-link {
    padding: 0px 8px;
    height: 32px;
}


#banner {
    padding: 32px 24px;   
}